div {
    width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
    z-index:-1;
    background-image: url("../assets/whistler.png");
    background-size: cover;
    opacity: .8;
}