<div id="calculator">
    <div class="display">
        <div class="main">{{ display }}</div>
        <div class="sub">{{ subDisplay }}</div>
    </div>
    <div id="calculatorBody">
        <div class="row">
            <div class="col no-border">
                <div class="buttons red no-side-border no-bottom-border" (click)="reset()" id="clear">AC</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('7')">7</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('4')">4</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('1')">1</div>
                <div id="bottomLeftButton" class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('.')">.</div>
            </div>
            <div class="col no-border">
                <div class="buttons no-bottom-border" (click)="expressionBuilder('')">NEG</div>
                <div class="buttons no-bottom-border" (click)="expressionBuilder('8')">8</div>
                <div class="buttons no-bottom-border" (click)="expressionBuilder('5')">5</div>
                <div class="buttons no-bottom-border" (click)="expressionBuilder('2')">2</div>
                <div class="buttons no-bottom-border" (click)="expressionBuilder('0')">0</div>
            </div>
            <div class="col no-border">
                <div class="buttons no-side-border no-bottom-border" (click)="selectOperator('%')">%</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('9')">9</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('6')">6</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('3')">3</div>
                <div class="buttons no-side-border no-bottom-border" (click)="expressionBuilder('00')">00</div>
            </div>
            <div class="col no-border">
                <div class="buttons blue no-right-border no-bottom-border" (click)="selectOperator('/')">/</div>
                <div class="buttons blue no-right-border no-bottom-border" (click)="selectOperator('*')">*</div>
                <div class="buttons blue no-right-border no-bottom-border" (click)="selectOperator('-')">-</div>
                <div class="buttons blue no-right-border no-bottom-border" (click)="selectOperator('+')">+</div>
                <div id="bottomRightButton" class="buttons yellow no-right-border no-bottom-border" (click)="showResult()">=</div>
            </div>
        </div>
    </div>
</div>