#calculator {
    margin: 5% auto;
    max-width: 50%; 
    border-radius: 10px;
}

#bottomLeftButton {
    border-radius: 0 0 0 10px;
}

#bottomRightButton {
    border-radius: 0 0 10px 0;
}

.display {
    min-height: 75px;
    background: #3A261B;
    color: #FFFFFF;
    text-align: right;
    border-radius: 10px 10px 0 0;
    opacity: .8;
}
  
.display .main {
    padding: 0 10px;
    font-size: 3em;
}

.display .sub {
    padding: 0 10px 10px 0;
    font-size: 1em;
}

.row { 
    /* remove margin to align row with calculator div */
    margin: 0;
}

.row .col { 
    /* remove padding between cols */
    padding: 0;
    color: #3A261B;
    font-size: 1.3em;
    width: 25%; 
    cursor: pointer;
}

.buttons {
    padding: 10px;
    background-color: #FFFFFF;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    border: #3A261B solid 1px;
    opacity: .8;
}

.buttons:hover {
    background-color: #A9A9A9;
}

.buttons:active {
  background-color: #FFFFFF;
  background-size: 100%;
  transition: 0s fade-out;    
}

.red {
    background-color: #DC3545;
    opacity: .8;
}

.red:hover {
    background-color: #AF473C;
}

.red:active {
    background-color: #DC3545;
}

.blue {
    background-color: #17A2B8;
}

.blue:hover {
    background-color: #158091;
}

.blue:active {
    background-color: #17A2B8; 
}

.yellow {
    background-color: #FFC107;
}

.yellow:hover {
    background-color: #A37D0A;
}

.yellow:active {
    background-color: #FFC107;
}

.no-border {
    border-style: none;
}

.no-side-border {
    border-right-style: none;
    border-left-style: none;
}

.no-right-border {
    border-right-style: none;
}

.no-bottom-border {
    border-bottom-style: none; 
}

@media screen and (min-width: 200px) and (max-width: 330px) {
    #calculator {
        margin: 15% auto;
        min-width: 200px;
        max-width: 330px;
    }
}